

  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>

           <!-- <mat-option [value]="item" *ngFor="let item of category">
            {{item}}
           </mat-option> -->

        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Product Name">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Type">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <input matInput placeholder="Brand">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Serial No.</mat-label>
        <input matInput placeholder="Serial No.">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Original Price</mat-label>
        <input matInput placeholder="Original Price">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Selling Price</mat-label>
        <input matInput placeholder="Selling Price">
      </mat-form-field>
    <button mat-raised-button color="primary" >Submit</button>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field> -->
    
  </div>