
  
  <div class="container">
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Add Category</mat-card-title>
          
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="button-cards">Click here</button>
       
        </mat-card-actions>
      </mat-card>
    
      <br>
    
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Manage Category</mat-card-title>
      
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="button-cards">Click here</button>
       
        </mat-card-actions>
      </mat-card>
    
      <br>
    
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Product List</mat-card-title>
      
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="button-cards">Click here</button>

        </mat-card-actions>
      </mat-card>
  </div>