
.dashboard-card{
    height: 200px;
    width: 300px;
    margin: 20px auto;
  
    background-color: rgb(72, 238, 169);
}

.button-cards{
    height: 140px;
    width: 300px;
}

.container{
    height: 700px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    align-items: center;
   
    
}

